<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3DC Project Management - Home Page</title>

    <!-- Link to External Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">



    <!-- Link to Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">



    <!-- Link to Internal CSS file -->
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/registration.css">
</head>

<body>
    <!-- NAVIGATOR BAR -->
    <section class="menu">
        <nav class="navbar navbar-expand-lg bg-light text-primary-emphasis">

            <div class="container-fluid">

              <a class="navbar-brand dc_logo" href="#">
                <span class="color1">3</span>
                <span class="color2">D</span>
                <span class="color3">C</span>
            </a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-start">

                  <li class="nav-item li_home">
                    <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                  </li>

                  <li class="nav-item li_showcase">
                    <a class="nav-link" href="./showcase.html">Showcase</a>
                  </li>
                
                  <li class="nav-item li_manage">
                    <a class="nav-link">Manage</a>
                  </li>

                  <li class="nav-item li_update">
                    <a class="nav-link" href="#">Update</a>
                  </li>

                </ul>
              </div>

              <div class="login_menu">
                <a href="./login.html" class="btn bg-warning login_done">Sign up</a>
              </div>

            </div>
          </nav>

    </section>


    <section class="container content">
        <div class="heading_content">
            <h1>Complete the required fields in the form below</h1>
          </div>

        <div class="table_for_registration">
            <h2 class="heading_line_green">Registration From</h2>
            <div class="container overflow-hidden text-center">

                <div class="row each_row">
                  <div class="col-3 left_title">
                    <div class="p-3">Project Title</div>
                  </div>
                  <div class="col-9 right_title">
                    <div class="input-group">
                        <textarea class="form-control input_info" aria-label="With textarea"></textarea>
                      </div>
                  </div>
                </div>

                <div class="row each_row">
                    <div class="col-3 left_title">
                      <div class="p-3">Description</div>
                    </div>
                    <div class="col-9 right_title">
                      <div class="input-group">
                          <textarea class="form-control input_info" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                  </div>

                  <div class="row each_row">
                    <div class="col-3 left_title">
                      <div class="p-3">Project Lead</div>
                    </div>
                    <div class="col-9 right_title">
                      <div class="input-group">
                          <textarea class="form-control input_info" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                  </div>

                  <div class="row each_row">
                    <div class="col-3 left_title">
                      <div class="p-3">Member 1</div>
                    </div>
                    <div class="col-9 right_title">
                      <div class="input-group">
                          <textarea class="form-control input_info" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                  </div>

                  <div class="row each_row">
                    <div class="col-3 left_title">
                      <div class="p-3">Member 2</div>
                    </div>
                    <div class="col-9 right_title">
                      <div class="input-group">
                          <textarea class="form-control input_info" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                  </div>

                  <div class="row each_row">
                    <div class="col-3 left_title">
                      <div class="p-3">Member 3</div>
                    </div>
                    <div class="col-9 right_title">
                      <div class="input-group">
                          <textarea class="form-control input_info" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                  </div>

                  <div class="row each_row">
                    <div class="col-3 left_title">
                      <div class="p-3">Member 4</div>
                    </div>
                    <div class="col-9 right_title">
                      <div class="input-group">
                          <textarea class="form-control input_info" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                  </div>

                  <div class="row each_row">
                    <div class="col-3 left_title">
                      <div class="p-3">Start date</div>
                    </div>
                    <div class="col-9 right_title">
                      <div class="input-group">
                          <textarea class="form-control input_info" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                  </div>

                  <div class="row each_row">
                    <div class="col-3 left_title">
                      <div class="p-3">End date</div>
                    </div>
                    <div class="col-9 right_title">
                      <div class="input-group">
                          <textarea class="form-control input_info" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                  </div>


              </div>


        </div>
    </section>




    <!-- Link to External supporting library -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <!-- Link to Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>